@import 'bootstrap/dist/css/bootstrap.min.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.imagen {
    height: auto;
    width: 30rem;
    object-fit: cover;
    object-position: center;
  }

.titulo{
    text-align: center;
    font-family: "https://fonts.googleapis.com/css2?family=Marvel&family=Roboto:wght@100&display=swap";
    color:  #cb997e;
}